# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
!*.exe
!*.dll
!*.bak
*.pdb


/bin
/obj
/AvaloniaDemo/obj
/AvaloniaDemo/bin/Debug/net6.0
/AvaloniaDemo/.vs


*/bin
*/obj

*.obj

*/.vs
*/.vscode